<%= form_with model: book do |form| %>
  <div class="input-group mb-3">
    <%= form.label :name, :class => 'input-group-text' %><br />
    <%= form.text_field :name, :class => 'form-control' %>
  </div>
  <%= render "error", book: book, field: :name%>

  <div class="input-group mb-3">
    <%= form.label :price, :class => 'input-group-text' %><br />
    <%= form.number_field :price, in: 0.0..9999.99, step: 0.01, :class => 'form-control' %>
  </div>
  <%= render "error", book: book, field: :price%>

  <div class="input-group mb-3">
    <%= form.label :author_id, :class => 'input-group-text' %><br />
    <%= form.select :author_id, Author.all.map { |t| [t.first_name+' '+t.last_name, t.id]},
                                :class => 'form-control' %>
  </div>
  <%= render "error", book: book, field: :author_id%>

  <div class="input-group mb-3">
    <%= form.submit :class => 'btn-success rounded p-1 px-2' %>
  </div>
<% end %>
