
<div>
    <h2>Book Name: <%= @book.name %></h2>
    <h5>Author Name: <%= @author.first_name + ' ' + @author.last_name %></h5>
    <h5>Price: <%= @book.price %></h5>
    <p class="btn btn-primary"><%= link_to  "Edit", edit_book_path(@book) %></p>
    <p class="btn btn-primary"><%= link_to  "Delete", book_path(@book), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
        } %></p>
    <p class="btn btn-primary"><%= link_to  "All Books", books_path %></p>
    <p class="btn btn-primary"><%= link_to  "All Authors", authors_path %></p>
</div>
