<%= render "sessioncontrol" %>

<h1>Cars</h1>

<div class="m-auto mb-2 mt-2">
  <%= form_with url: "/search", method: :get, class: "form-inline" do |form| %>
    <div class="input-group mb-3">
      <%= form.text_field :company, class: 'form-control mr-sm-2'%>
      <%= form.submit "Search car", class: 'btn btn-outline-success my-2 my-sm-0' %>
    </div>
  <% end %>
</div>
<table class="table table-bordered m-auto mb-2">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Company</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.id %></td>
        <td><%= link_to car.company, car_path(car) %></td>
        <td><%= link_to "Edit", edit_car_path(car), :class => "btn btn-warning m-0" %>
          <%= link_to "Delete", car_path(car), data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
          }, :class => "btn btn-danger m-0" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<% if current_page?(action: 'search') %>
  <p class="btn btn-primary"><%= link_to  "All Car", cars_path %></p>
<% else %>
  <p class="btn btn-primary"><%= link_to  "New Car", new_car_path %></p>
  <p class="btn btn-primary"><%= link_to  "Download pdf", download_path %></p>
<% end %>
