<%= render "sessioncontrol" %>

<div>
  <h2>Company: <%= @car.company %></h2>
  <h3>Price: <%= @car.price %></h3>
  <p class="btn btn-warning"><%= link_to  "Edit", edit_car_path(@car) %></p>
  <p class="btn btn-danger"><%= link_to  "Delete", car_path(@car), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
    } %>
  </p>
  <p class="btn btn-info"><%= link_to  "All Cars", cars_path %></p>
</div>
